*{
    margin: 0;
    padding: 0;
}


.container{
    width: 90%;
    margin: 0 auto;

}
#header{
    background: #67CDD9
}
.headerPhone{
    margin-top: -400px;
    margin-left: -550px;
}
.headerPhone2{
    margin-top: -630px;
    margin-left: 700px;
}

.headerBus{
    margin-top: -550px;
    margin-left: 700px;
    padding: 0 0 300px 0;

}
.Phone3{
    position: absolute;
    margin-left: 50px;
    margin-top: -920px;
}
.Med{
    margin-top: -60px;
    margin-left: 70px;
    font-weight: 900;
    font-size: 32px;
    font-family: 'Montserrat' , sans-serif;
    color: white;
}
.Skill{
    margin-top: -44px;
    margin-left: 147px;
    font-weight: 900;
    font-size: 32px;
    font-family: 'Montserrat' , sans-serif;
    color: #0000BB;
}
.Med911{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-top: 175px;
    width: 600px;
    color: #FFFFFF;
}
.Call{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #16AEC0;
    background: #F0F0F0;
    box-shadow: -0.63587px 6.3587px 6.3587px rgba(87, 101, 228, 0.25), inset -1.27174px -1.27174px 2.54348px rgba(0, 0, 0, 0.2), inset 1.90761px 2.54348px 6.3587px #FFFFFF;
    border-radius: 9.53804px;
    padding: 15px 70px;
    margin-top: 100px;
    border: none;
}
.Call:hover{
    transform: rotate(2turn);
}
.Day{
    background: url("../img/Squircle.png") no-repeat;
    padding: 0 0 140px 0;
    margin-top: -280px;
    width: 50%;

}
.Day24{
    margin-left: 85px;
    margin-top: 30px;
    display: flex;
    text-align: center;

}
.work{
    width: 45%;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 12.6488px;
    color: #67CDD9;
    text-align: center;
}
.Block{
    display: flex;
    justify-content: space-around;
    margin-left: 55px;
    margin-top: 15px;
    font-size: 12.6488px;
    color: #67CDD9;
}
.mig{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue{
    width: 100px;
    height: 100px;
    background: blue;
}
.red{
    width: 100px;
    height: 100px;
    background: red;
}
