*{
    margin: 0;
    padding: 0;
}


.container{
    width: 90%;
    margin: 0 auto;

}
#header{
    background: #67CDD9
}
.headerPhone{
    margin-top: -400px;
    margin-left: -550px;
}
.headerPhone2{
    margin-top: -630px;
    margin-left: 700px;
}
.headerBus{
    margin-top: -550px;
    margin-left: 700px;

}
.container{
    background: url("../img/Group 31.png")no-repeat center;

}
.uslug{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #67CDD9;
    padding: 150px 0 70px 60px;
}
.tex{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5A5A5A;
    padding-left: 80px;

}
.tex2{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #67CDD9;
    padding:50px 0 30px 80px;

}
.block{
    background: url("../img/Rectangle 12.png")no-repeat;
    width: 606px;
    height: 385px;
}
.tex3{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5A5A5A;
    padding-left: 80px;
}
.text{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5A5A5A;
    padding: 15px 0 15px 80px;
}
.block2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:  0 0 300px 0 ;
}
.container2{
    background: #00A1B4;
    display: flex;
    align-items: center;
}
.help{
    padding: 0 10px 0 100px;
}
.scor{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    width: 50%;
    color: white;
    padding: 50px 0;
}
.nomber{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
.Med{
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding: 0 10px 0 0;
}
.skill{
    padding: 0 330px 0 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #0000BB;
}